 /* class with dot (.) and id with # hash */

.fisrtdiv{
  color: red;
}

.seconddiv{
  color: blue;
}

#singleout{
  color:green;
  text-decoration: line-through;
}


h3 + ol{
  border: 10px dotted purple;
}

li a{
  color: red;
}

li a[href="www.google.com"]{
  border: 2px dotted pink;
}
